<div class="center alert-info">
  <h1 class="text-center">Stop Watch</h1>
  <h2>Click the stop button to stop the clock</h2>
</div>
<hr>

<div class="center m-5">
<div class="center display-3 bg-dark text-danger">
  <span class="text-center"> {{ time.hours < 10 ? '0'+time.hours : time.hours}} :</span>
  <span class="text-center"> {{ time.minutes < 10 ? '0'+time.minutes : time.minutes}} :</span>
  <span class="text-center"> {{time.seconds < 10 ? '0'+time.seconds : time.seconds}} : </span>
  <span class="text-center">{{time.millSeconds < 10 ? '0'+time.millSeconds : time.millSeconds}}</span>
</div>
</div>

<div class="center m-5">
  <div class="my-2 alert-info rounded p-2 text-center">
    <button class="btn btn-primary m-2" (click)="reset()">Reset
    </button>
    <button class="btn btn-danger m-2" (click)="handleInterval('stop')">Stop
    </button>
    <button class="btn btn-success m-2"
      (click)="handleInterval('continue')">{{time.millSeconds === 0 ? "Start" : "Continue" }}
    </button>
  </div>
</div>